.card-header {
  margin-top: 25px;
  border-radius: 0;
  text-align: center;
  font-weight: 800;
  color: white;
  font-size: 25px;
}

.myForm {
  margin-top: 25px;
  padding: 30px;
  border: 2px solid green;
  border-radius: 10px;
}

/* Validation class */
input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.itme-style {
  border: 1px solid black;
  margin: 15px;
  padding: 20px;
  border-radius: 20px;
}
.itemlable {
  display: block;
  border-radius: 5px;
  background-color: aliceblue;
  font-weight: 600;
  border: 1px solid lightslategray;
  font-size: 18px;
}
